name: Build with Maven

on:
  release:
    types: [ published ]
    branches: [ main ]

jobs:
  publish_build_files:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Upload Release Assets
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'target/AlathraWar-*.jar'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ github.event.release.tag_name }}